<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bui.css">
    <style>
        #list_item_model:hover {
            color: #fff;
        }
    </style>
</head>
<body>
<div class="bui-header">
    <div class="bui-menu">
        <div class="dib fr bui-list-item">八云哲学体系</div>
    </div>
    <div class="bui-main-nav">
        <a href="#section_begin"><div id="list_item_start" class="dib bui-list-item" section="section_start">开始</div></a><!--
        --><a href="#section_method"><div id="list_item_method" class="dib bui-list-item" section="section_method">基本观点</div></a><!--
        --><a href="#section_model"><div id="list_item_model" class="dib bui-list-item" section="section_motivation"><span>模型</span>
        <div id="list_item_model_menu" class="dn bui-second-menu-list">
            <a href="#section_model_global"><div class="bui-list-item">全局</div></a>
            <a href="#section_model_GOM"><div class="bui-list-item">通用对象</div></a>
            <a href="#section_model_SOM"><div class="bui-list-item">结构化对象</div></a>
        </div></div></a><!--
        --><a href="#section_more"><div id="list_item_more" class="dib bui-list-item" section="section_more">更多</div></a><!--
        --><a href="#section_end"><div id="list_item_end" class="dib bui-list-item" section="section_end">结尾</div></a>
    </div>
</div>
<div class="bui-content">
<a id="js_to_top" class="bui-to-top" href="#top">up</a>
<div id="section_begin" class="bui-section">
    <div class="bui-section-title">开始</div>
</div>
<div id="section_method" class="bui-section">
    <div class="bui-section-title">基本观点</div>
    <p>
    <ul style="margin-left:.75in;">
        <li style="vertical-align:middle;">
            动机
        </li>
        <ul style="margin-left:.375in;">
            <li style="vertical-align:middle;">
                Model the world
            </li>
            <li style="vertical-align:middle;">
                Explore the world
            </li>
        </ul>
        <li style="vertical-align:middle;">
            主要理论基础
        </li>
        <ul style="margin-left:.375in;">
            <li style="vertical-align:middle;">
                道家哲学思想
            </li>
            <li style="vertical-align:middle;">
                笛卡尔哲学体系
            </li>
            <li style="vertical-align:middle;">
                哥德尔不完备性定理
            </li>
        </ul>
        <li style="vertical-align:middle;">
            基本观点
        </li>
        <ul style="margin-left:.375in;">
            <li style="vertical-align:middle;">
                具有定义的系统都不是普适的
            </li>
            <li style="vertical-align:middle;">
                我们唯一所能确认的事情是自身的存在
            </li>
        </ul>
    </ul>
    </p>
    <p>
        <br />
    </p>
</div>
<div id="section_model_global" class="bui-section">
    <div class="bui-section-title">模型-全局</div>
    <div style="display: inline-block">
        <ul style="margin-left:.75in;">
            <li style="vertical-align:middle;">
                ω（虚空、the void，哲学）
            </li>
            <ul style="margin-left:.375in;">
                <li style="vertical-align:middle;">
                    描述
                </li>
                <ul style="margin-left:.375in;">
                    <li style="vertical-align:middle;">
                        没有任何定义
                    </li>
                    <li style="vertical-align:middle;">
                        包含一切
                    </li>
                </ul>
                <li style="vertical-align:middle;">
                    Sub
                </li>
                <ul style="margin-left:.375in;">
                    <li style="vertical-align:middle;">
                        ζ
                    </li>
                    <ul style="margin-left:.375in;">
                        <li style="vertical-align:middle;">
                            描述
                        </li>
                        <ul style="margin-left:.375in;">
                            <li style="vertical-align:middle;">
                                无因果关系
                            </li>
                        </ul>
                    </ul>
                    <li style="vertical-align:middle;">
                        ξ（有序世界，数学）
                    </li>
                    <ul style="margin-left:.375in;">
                        <li style="vertical-align:middle;">
                            描述
                        </li>
                        <ul style="margin-left:.375in;">
                            <li style="vertical-align:middle;">
                                因果关系
                            </li>
                            <li style="vertical-align:middle;">
                                存在相互作用的物质都可以被合并到同一个系统当中
                            </li>
                        </ul>
                        <li style="vertical-align:middle;">
                            Sub model
                        </li>
                        <ul style="margin-left:.375in;">
                            <li style="vertical-align:middle;">
                                α
                            </li>
                            <ul style="margin-left:.375in;">
                                <li style="vertical-align:middle;">
                                    描述
                                </li>
                                <ul style="margin-left:.375in;">
                                    <li style="vertical-align:middle;">
                                        基于物质及其相互作用
                                    </li>
                                </ul>
                                <li style="vertical-align:middle;">
                                    实例
                                </li>
                                <ul style="margin-left:.375in;">
                                    <li style="vertical-align:middle;">
                                        1（物理学）
                                    </li>
                                    <li style="vertical-align:middle;">
                                        2
                                    </li>
                                    <li style="vertical-align:middle;">
                                        …
                                    </li>
                                </ul>
                            </ul>
                            <li style="vertical-align:middle;">
                                β
                            </li>
                            <li style="vertical-align:middle;">
                                …
                            </li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </ul>
    </div>
    <img src="../static/img/global.png" style="float: right; width: 460px;">
</div>
<div id="section_model_GOM" class="bui-section">
    <div class="bui-section-title">模型-通用对象</div>
    <div>
        <p>
            <br />
        </p>
        <ul style="margin-left:.375in;">
            <li style="vertical-align:middle;">
                <ul style="margin-left:.375in;">
                    <li style="vertical-align:middle;">
                        基于物质及其相互作用
                    </li>
                    <li style="vertical-align:middle;">
                        实体行为&amp;实体关系：关系是两种结构在物理定律作用下所表现出来的一些特性；行为是固化的状态变化序列，本质是一种物质结构（这种物质结构在规则作用下产生一组状态变化序列
                    </li>
                    <li style="vertical-align:middle;">
                        差异性与同一性：实体间的差异性在于其物质结构的不同，但可以通过可以实现可能性的程度来度量主体的“能力”；差异性产生美学意义，同一性产生工具意义。
                    </li>
                    <li style="vertical-align:middle;">
                        <p>Model α</p>
                        <img src="../static/img/a_1.Png" style="width: 40%;">
                        <img src="../static/img/a_2.Png" style="width: 40%;">
                    </li>
                    <li style="vertical-align:middle;">
                        <a href="/yk_index/template/model_a.html">【一个实例】一维离散系统仅受距离反平方定律作用下的状态变化周期图像</a>
                    </li>
                </ul>
            </li>
        </ul>
        <p>
            <br />
        </p>
    </div>
</div>
<div id="section_model_SOM" class="bui-section">
<div class="bui-section-title">模型-结构化对象</div>
<div>
<p>
    <br />
</p>
<ul style="margin-left:.375in;">
    <li style="vertical-align:middle;">
        <p class="MsoNormal">
        <ul style="margin-left:.375in;">
            <li style="vertical-align:middle;">
                Motivation
            </li>
            <ul style="margin-left:.375in;">
                <li style="vertical-align:middle;">
                    对实体与相互作用过程的固化
                </li>
            </ul>
            <li style="vertical-align:middle;">
                基本观点
            </li>
            <ul style="margin-left:.375in;">
                <li style="vertical-align:middle;">
                    集合论适用于描述整体与局部的关系
                </li>
            </ul>
            <li style="vertical-align:middle;">
                <span>一个实例</span>
            </li>
            <ul style="margin-left:.375in;">
                <li style="vertical-align:middle;">
                    <a href="http://182.92.1.178:8080/SpiritXJs.html">SpiritXJs</a>
                </li>
            </ul>
            <li style="vertical-align:middle;">
                结构
            </li>
            <ul style="margin-left:.375in;">
                <li style="vertical-align:middle;">
                    Entity
                </li>
                <ul style="margin-left:.375in;">
                    <li style="vertical-align:middle;">
                        结构化实体
                    </li>
                    <ul style="margin-left:.375in;">
                        <li style="vertical-align:middle;">
                            描述
                        </li>
                        <li style="vertical-align:middle;">
                            结构
                        </li>
                        <ul style="margin-left:.375in;">
                            <li style="vertical-align:middle;">
                                Kernel
                            </li>
                            <ul style="margin-left:.375in;">
                                <li style="vertical-align:middle;">
                                    Behaviors
                                </li>
                                <li style="vertical-align:middle;">
                                    Programs
                                </li>
                                <ul style="margin-left:.375in;">
                                    <li style="vertical-align:middle;">
                                        描述
                                    </li>
                                    <ul style="margin-left:.375in;">
                                        <li style="vertical-align:middle;">
                                            若干抽象实体模型相互作用的抽象
                                        </li>
                                        <li style="vertical-align:middle;">
                                            如果这些抽象实体与特定实体相关联，那么program实际上是对物理层的相互作用进行了抽象
                                        </li>
                                    </ul>
                                    <li style="vertical-align:middle;">
                                        结构
                                    </li>
                                    <ul style="margin-left:.375in;">
                                        <li style="vertical-align:middle;">
                                            Class
                                        </li>
                                        <ul style="margin-left:.375in;">
                                            <li style="vertical-align:middle;">
                                                描述
                                            </li>
                                            <ul style="margin-left:.375in;">
                                                <li style="vertical-align:middle;">
                                                    一个抽象实体模型与其它抽象实体模型的相互作用的抽象
                                                </li>
                                            </ul>
                                            <li style="vertical-align:middle;">
                                                结构
                                            </li>
                                            <li style="vertical-align:middle;">
                                                实例
                                            </li>
                                        </ul>
                                    </ul>
                                    <li style="vertical-align:middle;">
                                        实例
                                    </li>
                                </ul>
                            </ul>
                            <li style="vertical-align:middle;">
                                attachments
                            </li>
                            <ul style="margin-left:.375in;">
                                <li style="vertical-align:middle;">
                                    Input
                                </li>
                                <li style="vertical-align:middle;">
                                    Output
                                </li>
                                <li style="vertical-align:middle;">
                                    Disk
                                </li>
                            </ul>
                        </ul>
                        <li style="vertical-align:middle;">
                            实例
                        </li>
                        <ul style="margin-left:.375in;">
                            <li style="vertical-align:middle;">
                                host
                            </li>
                        </ul>
                    </ul>
                    <li style="vertical-align:middle;">
                        非结构化实体
                    </li>
                    <ul style="margin-left:.375in;">
                        <li style="vertical-align:middle;">
                            描述
                        </li>
                        <ul style="margin-left:.375in;">
                            <li style="vertical-align:middle;">
                                与结构化实体没有标准的交互接口
                            </li>
                            <li style="vertical-align:middle;">
                                通常作为结构化实体的输入（原料），或者作为其输出
                            </li>
                            <li style="vertical-align:middle;">
                                结构化实体对非结构化实体可能具有create&amp;delete行为，但是通常不具有直接操作（update）的行为
                            </li>
                        </ul>
                        <li style="vertical-align:middle;">
                            结构
                        </li>
                        <li style="vertical-align:middle;">
                            实例
                        </li>
                        <ul style="margin-left:.375in;" class="dn">
                            <li style="vertical-align:middle;">
                                各种自然物如水、石油
                            </li>
                            <li style="vertical-align:middle;">
                                一些人造物例如书包、普通服饰
                            </li>
                        </ul>
                    </ul>
                    <li style="vertical-align:middle;">
                        半结构化实体
                    </li>
                    <ul style="margin-left:.375in;">
                        <li style="vertical-align:middle;">
                            描述
                        </li>
                        <ul style="margin-left:.375in;">
                            <li style="vertical-align:middle;">
                                没有可扩展的逻辑部
                            </li>
                            <li style="vertical-align:middle;">
                                具有与结构化实体数据交互的标准化接口
                            </li>
                            <li style="vertical-align:middle;">
                                通常作为结构化实体的attachment，扩展结构化实体的物理行为
                            </li>
                        </ul>
                        <li style="vertical-align:middle;">
                            结构
                        </li>
                        <li style="vertical-align:middle;">
                            实例
                        </li>
                        <ul style="margin-left:.375in;" class="dn">
                            <li style="vertical-align:middle;">
                                Disk
                            </li>
                            <li style="vertical-align:middle;">
                                各种外接设备
                            </li>
                            <li style="vertical-align:middle;">
                                磁盘上的文件，各种类型的数据，包括program原型
                            </li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </ul>
        </p>
    </li>
</ul>
<p>
    <br />
</p>
</div>
<img src="../static/img/SOM.png" style="width: 600px;">
</div>
<div id="section_more" class="bui-section">
    <div class="bui-section-title">更多</div>
    <div>
        <p>
        <p style="margin-left:.75in;font-family:SimSun;font-size:10.5pt;">
            <span>八云哲学体系的世界观基于</span>哥德尔不完备性定理<span>分割有序（因果）世界与无序（混沌）世界。而有序世界与无序世界的总和通过称之为</span><span>void</span><span>的名词所包裹。无序世界与</span><span>void</span><span>在八云哲学体系的世界架构中是存在的，但是通过数学工具只能探索有序世界中的知识。</span>
        </p>
        <p style="margin-left:.75in;font-family:SimSun;font-size:10.5pt;">
            &nbsp;
        </p>
        <p style="margin-left:.75in;font-family:SimSun;font-size:10.5pt;">
            有序世界的所有构成形式都可以被抽象为“物质及其相互作用”，每一个有序世界都可以由一个自洽的数学模型来表述。有序世界之间的边界是相互作用——任意两个有序世界一旦建立任意形式的相互作用，那么这两个有序世界应当可以使用统一的数学模型表述，意即这两个有序世界可以被认为是一个更广泛的有序世界的一部分。
        </p>
        </p>
        <p>
            <br />
        </p>
    </div>
</div>
<div id="section_end" class="bui-section" style="border-bottom: 0px;margin-bottom: 100px;">
    <div class="bui-section-title">结尾</div>
    <p style="font-size:10.5pt;">
        从14年12月份开始，困扰于一些基本的工程问题——比如简单的文档分类，以及程序的模块化等…以及实际上存在了很久的涉及一些更为根源的事情，我开始了现在称之为“八云哲学体系”的探索。
    </p>
    <p style="font-size:10.5pt;">
        这个名字看上去起的有点大，然而如果与困扰比起来，感觉其触及的范畴也不为过。出于对紫妈~@#@~的欣赏，便加了一个“八云”的开头。关于命名差不多就这样。需要提到的是，这个过程实际上是极为艰难的过程——是我至今以来做的最为艰苦的探索，无论是精神上还是体力上。根源的问题从一些简单的事物出发，所触及的面却极为广阔。看似有所联系又让人捉摸不透。一方面我们需要极大程度的抽象以避免失去其普适性，在一些层面上甚至数学都无法作为我们的工具——而另一方面，我们又需要避免理论过于空泛。既然从事工程的工作，那最终还是期望其可以用于指导工程的。
    </p>
    <p style="font-family:SimSun;font-size:10.5pt;">
        <span>这一过程最为困扰的地方在于，在刚开始的时候，我甚至并不清楚真正的问题是什么——恰当的问题引导恰当的答案。然而又无法忽视不理——工程的一些具体技术，比如一个前端的库或者</span><span>topic</span><span>，一个周末便可以基本了解。后端服务，系统运维大抵差不多。问题基本上是看得到的，那么无非即是时间的长短问题。一些问题我可以暂且搁置，然而体系所面临的却无法。</span>
    </p>
    <p style="font-size:10.5pt;">
        B站A叔有描述其创作的key社经典曲目串烧的过程，大抵如此。探索哲学体系——尤其是在根源的抽象层面，必须十分小心谨慎。这一阶段通常会问的一个问题是，嘿~你在做什么？你的问题是什么？
    </p>
    <p style="font-size:10.5pt;">
        要十分感谢小黑、苏进生、锐涛&amp;miss M，在这个过程所做的交流。今天，我们可以谨慎地宣告，哲学体系的基本世界观已经基本成型。它提供了一种看待世界的方式，并且将在未来逐渐尝试指导工程学及其他领域的实践。它应当是足够普适与开放的，并且处于不断完善的过程。
    </p>
    <span style="float: right">2016/3/1</span>
</div>
</div>
<div class="bui-footer">
    <span style="float: left; margin-left: 20px;">be awe, then fearless</span>
    <span>神隠しの大航海家</span>
    <span style="float: right; margin-right: 20px;">simple &! common</span>
</div>
<script>
    $('#js_to_top').click(function() {
        $(document).scrollTop(0);
        return false;
    });

    $('#list_item_model').mouseover(function () {
        $('#list_item_model_menu').removeClass('dn');
    })

    $('#list_item_model').mouseout(function () {
        $('#list_item_model_menu').addClass('dn');
    })

</script>
</body>
</html>