<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<table class="bui-table">
    <thead>
    <tr>
        <td>X</td>
    </tr>
    </thead>
    <tbody id="sortable">
    <tr>
        <td>1</td>
    </tr>
    <tr>
        <td>2</td>
    </tr>
    </tbody>
</table>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script>
$(function() {
$( "#sortable" ).sortable();
$( "#sortable" ).disableSelection();
});
</script>
</body>
</html>